body{
    font-family: 'Open Sans', sans-serif;

    background-color: #A8DEFF;
}

h1 {
    color: #424B52;
    text-align: center;
    font-size: 30pt;
    margin: auto;
    width: 600px;
    display:block;
    padding: 10px 10px 10px;
}

h2 {
    color: #424B52;

    text-align: center;
    font-size: 15pt;
    margin: auto;
    width: 600px;
    display:block;
}


form {
    color: #424B52;

    text-align: center;
    margin: auto;
    width: 600px;
    display:block;
    padding: 20px 20px 20px;
    
}

#button {
    width: 150px;
}

#result {
    color: #424B52;

    font-style: italic;
    text-align: left;
    font-size: 20pt;
    margin: auto;
    width: 600px;
    display:block;
    border: #424B52;
    border-style: solid;
    padding: 10px 10px 10px;
}

#box {
    height: 50px;
    font-size: 40px;
    width: 190px;
}

footer {
    font-size: 15;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #A8DEFF;
}